replicaCount: 2

image:
  repository: turbo-stack-backend
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: NodePort
  port: 3001
  targetPort: 3001
  nodePort: 30001

ingress:
  enabled: false

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

env:
  - name: NODE_ENV
    value: "production"
  - name: PORT
    value: "3001"
  - name: DATABASE_URL
    value: "postgresql://user:password@postgres:5432/turbo_stack?schema=public"
